# NEXT_PUBLIC_APP_URL="https://unswerved-catachrestically-oren.ngrok-free.dev/api/"
# npm run dev
NEXT_PUBLIC_APP_URL="https://dev.api.booking.klyra.no/api/"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GROWTHBOOK_API_HOST=""
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=""
AWS_PUBLIC_BUCKET_URL='https://klyra-s3.s3.us-east-1.amazonaws.com'
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_test_51Srvs91PGDLs6XpMS7AJ4r6g29WL2kSK1GEmR9fSQWFbpvozw0CCseZkAxPAftNo8MPlWlkoajWJLOFWqCnKJTH000BcZBBKUS'
NEXT_PUBLIC_AWS_PUBLIC_BUCKET_URL='https://klyra-s3.s3.us-east-1.amazonaws.com'